<!DOCTYPE html>
<html>

  <head>
    <title>
      Intermediate SimpleWebRTC Demo
    </title>
  </head>
  <body style="overflow:hidden;">

    <p id="subTitle"></p>

    <form id="createRoom">
      <input id="sessionInput" />
      <button type="submit">Create Room!</button>
    </form>

    <video id="localVideo" oncontextmenu="return false;"></video>

    <div id="remotes" style="width:20px;"></div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

    <script src="/js/simplewebrtc.bundle.js"></script>
    <script src="/js/xirsys_connect.js"></script>
    <script src="/js/xirsys.core.js"></script>
    <script src="/js/xirsys.api.js"></script>
    <script src="/js/xirsys.simplewebrtc.js"></script>
    <script src="/js/main.js"></script>

  </body>

</html>
